<div class="search">

  <div class="col-md-4"><input type="text" placeholder="Search" class="form-control"></div>
  <div class="col-md-1"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-search  "></span></button></div>
  <div class="col-md-1">
    <select class="selectpicker show-tick" data-width="fit">
      <option disabled>Search for</option>
      <option>Name</option>
      <option>Description</option>
      <option>Price</option>
    </select>
  </div>
  <div class="col-md-1"><input type="text" placeholder="From" class="form-control"></div>
  <div class="col-md-1"><input type="text" placeholder="End" class="form-control"></div>
  <br><br><br>
</div>
<div class="=">
  <div class="row col-md-4 " *ngFor="let product of products; let i = index">
    <div class="panel panel-primary col-md-8 col-sm-8" >
      <div class="panel-heading">
        <h2 class="panel-title">{{product.productName}}</h2>
      </div>
      <div class="panel-body row" align="center">
        <div class="col-md-12 col-sm-6">
          <img class="img-responsive" [src]="product.productImage" [title] = "product.productName"><br>
          <h4 style=" color:darkcyan;">${{product.productPrice | number}}</h4><br>
          <button class='btn btn-primary' (click)="showDetail(product)">Detail</button>
          <button class='btn btn-primary' >Add to Cart</button>
        </div>
        <!--(click)="showDetail(product)"-->


      </div>
    </div>

  </div>
</div>



