<div class="col-md-10">
  <table class="table table-responsive-md table-hover"  >
    <thead class="thead-light">
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col" >Product quantity</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr>

      <th scope="row">1</th>
      <td>Product 01</td>
      <td>$8000</td>
      <td>
        <div class="form-inline">
          <button type="button" class="btn btn-primary   ">-
          </button>
          <input type="text"  class="form-control  " maxlength="3" size="1">
          <button type="button" class="btn btn-primary   ">+
          </button>
        </div>


      </td>
      <td>
        <a class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>
        <div class="form-inline">
          <button type="button" class="btn btn-primary   ">-
          </button>
          <input type="text"  class="form-control  " maxlength="3" size="1">
          <button type="button" class="btn btn-primary   ">+
          </button>
        </div>


      </td>
      <td>

        <a class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>
        <div class="form-inline">
          <button type="button" class="btn btn-primary   ">-
          </button>
          <input type="text"  class="form-control  " maxlength="3" size="1">
          <button type="button" class="btn btn-primary   ">+
          </button>
        </div>


      </td>
      <td>
        <a class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td><br>Total : XXX</td>
      <td>
        <br>
        <a routerLink="/confirm"><button class="btn btn-success">Check out </button></a>
      </td>
      <td></td>

    </tr>
    </tbody>
  </table>
</div>


