<div class="col-md-10">
  <table class="table table-responsive-md table-hover"  >
    <thead class="thead-light">
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col" >Product quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr>

      <th scope="row">1</th>
      <td>Product 01</td>
      <td>$8000</td>
      <td>1</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>3</td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td><br>Total : XXX</td>
      <td>
        <br>
        <a routerLink="/payment"><button class="btn btn-success">Payment method</button></a>
      </td>

    </tr>
    </tbody>
  </table>
</div>
