<div class="col-md-10">
  <table class="table table-responsive-md table-hover"  >
    <thead class="thead-light">
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col" >Product quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items; let i = index;">

      <th scope="row">{{i}}</th>
      <td>{{item.product.productName}}</td>
      <td>{{item.product.productPrice | number}}</td>
      <td>{{item.amount}}</td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td><br>Total : {{sum() | number}}</td>
      <td>
        <br>
        <a routerLink="/payment"><button class="btn btn-success">Payment method</button></a>
      </td>

    </tr>
    </tbody>
  </table>
</div>
